html {
    scroll-behavior: smooth;
}

#landing-view, #landing-view-scene {
    overflow: hidden;
}

#landing-view-scene{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url('../assets/landing_view/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#landing-view-scene img {
    position: absolute;
    width: 120%;
    left: 50%;
    transform: translateX(-50%);
}

#event-title div {
    font-family: "signatra";
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#event-title h1, #event-title p {
    white-space: nowrap;
    font-weight: 400;
    padding: 0 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titlename {
    background: -webkit-linear-gradient(90deg, #FB3981 0%, #FDBB2D 100%);
    font-size: clamp(90px, 10vw, 7.5rem) ;
}

.themename {
    background: -webkit-linear-gradient(90deg, #8412F3 0%, #FB3981 100%);
    margin-top: -15px;
    font-size: clamp(47px, 6vw, 3rem) ;
}

#landing-view > ul {
    list-style: none;
    display: block;
}

.layer {
    position: absolute;
    width:100%;
    height: 100%;
}

#logo img, #petals img{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo img{
    width: min( 50vw, 250px) !important;
}

#petals img{
    width: min( 130vw, 600px) !important;
}

#logo {
    z-index: 50;
}

#petals {
    z-index: 45;
}

#lights {
    z-index: 40;
}

#lights img {
    bottom: 0;
    width: 90%;
}

#grass_1 {
    z-index: 30;
}

#grass_2 {
    z-index: 25;
}

#grass_3 {
    z-index: 15;
}

#event-title {
    z-index: 50;
}

#grass_1 img, #grass_2 img {
    bottom: -30px;
}

#grass_3 img {
    bottom: 5px;
}

#tree {
    z-index: 20;
}

#tree img {
    bottom: -50px;
}

#scrolltrigger {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

#inner {
    animation: scrolltriggeranim 1s ease-in 0s infinite normal forwards;
}

@media (max-width: 1200px) {
    #landing-view-scene {
        background-size: cover;
        background-position: top;
    }

    #grass_1 img, #grass_2 img {
        width: 200%;
    }

    #tree img {
        width: 105%;
    }

    #grass_1 img {
        bottom: -20px;
    }

    #grass_2 img {
        bottom: 10px;
    }
    
    #grass_3 img {
        bottom: 150px;
    }

    #tree img {
        bottom: 130px;
    }

    #lights img {
        bottom: 110px;
    }
}

@keyframes scrolltriggeranim {
    0% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(20px);
    }
    100% {
        animation-timing-function: linear;
        transform: translateY(0);
    }
}


/* ABOUT SECTION */

#about {
    width: 100%;
    background-color: black;
    background-image: url('https://dhruvil-lakhtaria.github.io/incident-2022/assets/img/sm.svg'), url('https://dhruvil-lakhtaria.github.io/incident-2022/assets/img/xl.svg');
    background-size: cover, cover;
    padding: 100px 0;
    min-height: 70vh;
}

#about .container {
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: 768px) {
    #about .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    #about .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    #about .container {
      width: 1170px;
    }
  }

.about-content {
    color: white;
    font-family: 'Poppins';
    max-width: 50ch;
}

.about-content h2 {
    font-size: 5rem;
}

.about-content p {
    font-size: 1.1rem;
}

#about svg {
    width: min( 90vw, 400px);
}

@media (max-width: 500px) {
    #about .container {
        flex-direction: column;
    }
}