@-webkit-keyframes confetti {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

@keyframes confetti {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

body {
  margin: 0px;
  padding: 1rem;
  background:#0a182b;
}

.events-container {
  margin: 0px;
  position: relative;
  width: 100%;
  height: 100%;
}

.events-parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.events-parallax img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translateX(-50%) translateZ(0);
  transform: translateX(-50%) translateZ(0);
  -webkit-animation: confetti linear infinite;
  animation: confetti linear infinite;
}

img:nth-child(1) {
  -webkit-animation-delay: -160s;
  animation-delay: -160s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

img:nth-child(2) {
  -webkit-animation-delay: -120s;
  animation-delay: -120s;
  -webkit-animation-duration: 80s;
  animation-duration: 80s;
}

img:nth-child(3) {
  -webkit-animation-delay: -80s;
  animation-delay: -80s;
  -webkit-animation-duration: 120s;
  animation-duration: 120s;
}

img:nth-child(4) {
  -webkit-animation-delay: -40s;
  animation-delay: -40s;
  -webkit-animation-duration: 160s;
  animation-duration: 160s;
}

img:nth-child(5) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 200s;
  animation-duration: 200s;
}

.events-header{
  margin: 20px auto;
  color: #a1dcf0;
  font-family: 'Shizuru', cursive;
  font-size: 1.75rem;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.events-cards {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}
.events-card__image{
  height: 15em;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.atropos-inner{
  margin: 0px;
  padding: 0px;
    border-radius: 3%;
}
.events-card {
  margin: 17.5px;
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #2f80ed;
  color: whitesmoke;
  background: radial-gradient( #2f80ed, #0f2646);
}

.events-card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.events-tags{
  opacity: 0;
}
.events-card:hover .events-tags{
  transition:ease-in-out;
  opacity: 1;
}
.events-tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.events-tag + .events-tag {
  margin-left: 0.5em;
}

.events-tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #a1dcf0);
  color: #fafafa;
}

.events-tag-brown {
  background: #d1913c;
  background: linear-gradient(to bottom, #ffedd6, #d1913c);
  color: #fafafa;
}

.events-tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ec958f, #cb2d3e);
  color: #fafafa;
}

.events-card__body h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.events-card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
  justify-content: space-between;
}

.events-card__footer h5{
  color:#fafafa;
  margin: 0.3rem;
  font-size: 1rem;
}
.events-left{
  display: flex;
  align-items: center;
}
.events-custom-btn {
    background-color:#fafafa;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.events-custom-btn{
  overflow: visible;
}
  .events-btn-11 {
    border: none;
    background: rgb(251,33,117);
      background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
      color: #fff;
      overflow: hidden;
  }
  .events-btn-11:hover {
      text-decoration: none;
      color: #fff;
  }
  .events-btn-11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
  }
  .events-btn-11:hover{
    opacity: .7;
  }
  .events-btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  @keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }
  @media only screen and (max-width: 450px) {
  
    .events-content{
      margin: 25px;
      text-align: center;
    }
    .events-h3{
      margin: auto;
    }
    .events-card {
      margin:auto;
      width: 65%;
    }
    .events-card__footer{
      flex-direction: column;
      align-items: center;
    }
    .events-custom-btn{
      margin: 15px 0px;
    }
  }