*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "signatra";
    src: url("../assets/fonts/Signatra.otf");
}

/* ---Footer start--- */

/* General footer styling */
footer a, a:link, a:visited, a:focus, a:hover, a:active{
	text-decoration: none;
    color: #d9d9d9;
}

footer{
	bottom: 0;
	width: 100%;
	background: rgb(1,1,1);
	position: relative;
    color: #d9d9d9;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

footer .main-content{
    display: flex;
    padding: 70px 0 30px 0;
}

footer .main-content .box{
	flex-basis: 50%;
	padding: 20px;
}

/* Box styling */
footer .box h2{
	font-size: 1.125rem;
	font-weight: 600;
}

/* Content with underline */
footer .box .content-with-underline{
	margin: 20px 0 0 0;
	position: relative;
}

footer .box .content-with-underline:before{
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 100%;
	background: #1a1a1a;
}

footer .box .content-with-underline:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 15%;
	background: #1B98D7;
	top: -10px;
}

/* Content without underline */
footer .box .content{
	margin: 20px 0 0 0;
	position: relative;
}

footer .box .content:before{
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 100%;

}

footer .box .content:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 15%;
	top: -10px;
}

/* Lets Connect section */
.right .content-with-underline .social{
	margin: 20px 0 0 0;
}

footer .right .content-with-underline .social a{
	padding: 0 2px;
}

footer .right .content-with-underline .social a span{
	height: 40px;
	width: 40px;
	background: #2685D8;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 100px;
	transition: 0.3s;
}

footer .right .content-with-underline .social a span:hover{
	background: #43abe7;
}

footer .right .content-with-underline .phone{
	margin: 15px 0;
}

footer .right .content-with-underline .place .fas, .email .fas{
	margin-right: 2px;
}

/* Links section */
footer .text{
	font-size: 1.0625rem;
	font-weight: 300;
}

footer .content-with-underline .text {
    text-decoration: none;
}

footer .content-with-underline .text a:hover {
    color: #1B98D7;
}


/* Logo section */
.footer-logo{
	height: 100%;
	width: 50%;
	display: block;
	margin: auto;
}

/* Credits section */
.bottom center{
	padding: 5px;
	font-size: 0.8rem;
}
.bottom center span{
	color: #c3c2c2;
}
.bottom center a{
	color: #3498db;
	text-decoration: none;
}
.bottom center a:hover{
	text-decoration: underline;
}


/* Media queries */
@media screen and (max-width: 900px) {
	footer{
		position: relative;
		bottom: 0px;
	}
	footer .main-content{
		flex-wrap: wrap;
		flex-direction: column;
	}
	footer .main-content .box{
		margin: 5px 0;
        padding-left: 50px;
        padding-right: 50px;
	}
    footer .right .content-with-underline .social {
        margin: 0 auto;
        margin-top: 20px;
        width: fit-content;
    }
}

/* Navbar styles */

nav {
    position: fixed;
    z-index: 120;
    width: 100%;
    color: white;
    font-family: 'Poppins';
    top:0;
}

nav .small-nav {
    background-color: rgba(0, 0, 0, 0.308);
    display: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav .large{
    background-color: rgba(0, 0, 0, 0.308);
    display: flex;
    padding: 10px 75px;
    justify-content: space-between;
}

nav h3 {
    font-family: 'signatra';
    font-weight: 400;
    font-size: 3rem;
}

nav .large ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

nav .large li a{
    -webkit-transition: all 100ms ease-in 10ms;
    -o-transition: all 100ms ease-in 10ms;
    transition: all 100ms ease-in 10ms;
}

nav .large li a:hover{
    border-bottom: 2px solid #ecf0f1;
}

nav #toggle-navbar {
    background: none;
    border: none;
    transform: scale(0.75);
}

nav .hamburger .line {
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.open .line:nth-child(2) {
    opacity: 0;
}
  
nav.open .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}
  
nav.open .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}

@media (max-width: 860px) {
    nav .large {
        display: none;
    }
    
    nav .small-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px 1rem;
        transition: all 300ms ease-in-out;
        z-index: 120;
    }
    
    nav .small-nav-links {
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        background-color: #3f3f3fd7 !important;
        transform: translateY(calc( (-140%) - 100px ));
        padding: 0;
        transition: all 300ms ease-in-out;
        z-index: 119;
        height: 0px;
        overflow: hidden;
    }
    
    .open .small-nav-links{
        padding: 10px 1.5rem;
        transform: translateY(0) !important;
        backdrop-filter: blur(5px);
        height: auto;
    }
    
    .open .small-nav {
        background-color: rgba(0, 0, 0, 0.89);
    }
}
