/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;

  }
  @-webkit-keyframes confetti {
      0% {
        top: 100%;
      }
      100% {
        top: -100%;
      }
  }
  
  @keyframes confetti {
      0% {
          top: 100%;
      }
      100% {
          top: -100%;
      }
  }
  
  body {
      margin: 0px;
      background: #0a182b;
  }
  
  .sponsors-container {
      margin: 0px;
      position: relative;
      width: 100%;
      height: 100%;
  }
  
  .sponsors-parallax {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  .sponsors-parallax img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: auto;
      -webkit-transform: translateX(-50%) translateZ(0);
      transform: translateX(-50%) translateZ(0);
      -webkit-animation: confetti linear infinite;
      animation: confetti linear infinite;
  }
  
  #sponsors-xl {
      -webkit-animation-delay: -160s;
      animation-delay: -160s;
      -webkit-animation-duration: 40s;
      animation-duration: 40s;
  }
  
  #sponsors-lg {
      -webkit-animation-delay: -120s;
      animation-delay: -120s;
      -webkit-animation-duration: 80s;
      animation-duration: 80s;
  }
  
  #sponsors-md {
      -webkit-animation-delay: -80s;
      animation-delay: -80s;
      -webkit-animation-duration: 120s;
      animation-duration: 120s;
  }
  
  #sponsors-sm {
      -webkit-animation-delay: -40s;
      animation-delay: -40s;
      -webkit-animation-duration: 160s;
      animation-duration: 160s;
  }
  
  #sponsors-xs {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation-duration: 200s;
      animation-duration: 200s;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
    
  
  .sponsors-header {
      margin-top: 8rem;
    color: #a1dcf0;
      font-family: 'Poppins', sans-serif;
      font-size: 1.75rem;
      text-align: center;
      margin-bottom: 4%;
  }
  
  .image-container img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: auto;
  }
  
  .card {
      width: 21rem;
      background-color: #fff; 
      text-align: center;
      margin: 0 auto;
      margin-bottom: 4rem; 
      height: 100%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
  }
  
  .sub-heading {
      text-align: center;
      color: #fff;
      margin-top: 4rem;
      margin-bottom: 2rem; 
  }
  
  .card-hr {
      color: black !important;
      background-color: #000 !important;
      display: block;
      margin: 0 auto !important;
      width: 80% !important;
      border-color: black !important;
      border-top: 0.18rem solid #000 !important;
  }
  
  .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .row > [class*='col-'] {
      display: flex;
      flex-direction: column;
  }
  
  .image-container {
      padding:1.3rem;
      height: 12.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .coming-soon{
      width: 80%;
      max-width: 600px;
      display: block;
      margin: auto;
      z-index: 120;
  }
  
  .brand-name {
     font-family: 'Poppins', sans-serif;
  }